<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>

</head>
<body>

<div class="content">

    <h2>Lista zadań do wykonania</h2>

    <div class="list-group">
        <button type="button"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="task: ${tasks}">
            <!--        tu chodzi o to żeby dwa spany były koło siebie-->
            <span th:text="${task.title}"></span>
            <a th:href="|/done?id=${task.id}|">Oznacz jako zrobione</a>
<!--            class="badge badge-primary badge-pill" nie działa huj-->
        </button>
    </div><br/>

<!--    wyświetlanie listy zadań już zrealizowanych (archiwum)-->

    <h2 class="mt-4">Lista zadań zrealizowanych (archiwum)</h2>
<!--    daje odstęp class="mt-4"-->

    <div class="list-group">
        <button type="button"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="task: ${tasksDone}">
            <!--        tu chodzi o to żeby dwa spany były koło siebie-->
            <span th:text="${task.title}"></span>
        </button>
    </div>


</div>
</body>
</html>